* {
  margin: 0;
}

.app {
  height: 100vh;
}

.app__header {
  position: sticky;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.app__signup {
  display: flex;
  flex-direction: column;
}
.app__post{
  padding:20px;
  display: flex;
  justify-content: center;
}

.app__postRight{
  margin-left: 20px;
}